.loginWrap {
	width: 100%;
	height: calc(100vh - 225px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	position: relative;
	width: 30%;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 50px;
	background: white;
	border-radius: 5px;
	box-shadow: 0 3px 10px #0000001f;
}
@media only screen and (max-width: 1400px) {
	.container {
		width: 50%;
	}
}
@media only screen and (max-width: 800px) {
	.container {
		width: 90%;
	}
}
@media only screen and (max-width: 600px) {
	.titleForm {
		font-size: 20px;
	}
}
.titleForm {
	margin-top: 0;
	font-weight: 600;
	text-align: center;
	color: #616161;
	text-transform: uppercase;
}

