.countdown {
	font-size: 22px;
	font-weight: 600;
	display: flex;
	align-items: center;
	color: #ce9800;
}

@media only screen and (max-width: 600px) {
	.widthBox {
		font-size: 20px;
	}
}

.space {
	margin: 0 5px;
}

.widthBox {
	width: 25px;
}
