@import '../../styles/variables';
.avatar {
	width: 125px;
	height: 125px;
}
.MuiBox-root-32 {
	padding-top: 0;
}

.swiperContainer {
	.swiper-wrapper {
		display: flex;
	}
}

.swiper-slide {
	height: 100%;
	.MuiPaper-rounded {
		height: 100%;
	}
}
